<footer
  class="bg-gray-200 dark:bg-gray-800 px-6 md:px-16 lg:px-24 xl:px-32 transition-colors duration-500 ease-in-out"
>
  <div
    class="flex flex-col md:flex-row items-start justify-between gap-10 py-10 border-b border-gray-500/30 text-gray-500"
  >
    <div>
      <h1
        class="text-center text-blue-200 font-bold text-3xl p-2 dark:text-blue-100"
      >
        &reg;TypeCode Studio | Guanacaste
      </h1>
      <p class="max-w-102.5 mt-6">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum unde
        quaerat eveniet cumque accusamus atque qui error quo enim fugiat?
      </p>
      <button
        id="theme-toggle-footer"
        class="flex items-center gap-2
             bg-blue-100 dark:bg-gray-900
             rounded-lg px-3 py-2
             hover:bg-blue-200 dark:hover:bg-gray-700
             text-gray-700 dark:text-gray-200
             duration-300 transition-colors ease-in mt-2"
      >
        <svg
          class="w-7 h-7 block dark:hidden text-blue-300"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 3v2m0 14v2m9-9h-2M5 12H3m15.364-6.364l-1.414 1.414M7.05 16.95l-1.414 1.414M16.95 16.95l1.414 1.414M7.05 7.05L5.636 5.636M12 7a5 5 0 100 10 5 5 0 000-10z"
          ></path>
        </svg>
        <svg
          class="w-7 h-7 hidden dark:block text-blue-300 fill-current"
          viewBox="0 0 20 20"
        >
          <path
            d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
          ></path>
        </svg>
        <span class="text-gray-700 dark:text-gray-200">Change theme</span>
      </button>
    </div>
    <div class="flex flex-wrap justify-between w-full md:w-[45%] gap-5">
      <div>
        <h3 class="font-semibold text-base text-gray-500 md:mb-5 mb-2">
          Quick Links
        </h3>
        <ul class="text-sm space-y-1">
          <li><a href="#" class="hover:underline transition">Home</a></li>
          <li>
            <a href="#" class="hover:underline transition">Get a Quote</a>
          </li>
          <li>
            <a href="#" class="hover:underline transition">Offers & Deals</a>
          </li>
          <li><a href="#" class="hover:underline transition">Contact Us</a></li>
          <li><a href="#" class="hover:underline transition">FAQs</a></li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold text-base text-gray-500 md:mb-5 mb-2">
          Need Help?
        </h3>
        <ul class="text-sm space-y-1">
          <li>
            <a href="#" class="hover:underline transition"
              >Delivery Information</a>
          </li>
          <li>
            <a href="#" class="hover:underline transition"
              >Return & Refund Policy</a>
          </li>
          <li>
            <a href="#" class="hover:underline transition">Payment Methods</a>
          </li>
          <li>
            <a href="#" class="hover:underline transition"
              >Explore our services</a>
          </li>
          <li>
            <a href="#" class="hover:underline transition"
              >Get professional assistance</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold text-base text-gray-500 md:mb-5 mb-2">
          Follow Us
        </h3>
        <ul class="text-sm space-y-1">
          <li><a href="#" class="hover:underline transition">Instagram</a></li>
          <li><a href="#" class="hover:underline transition">LinkedIn</a></li>
          <li><a href="#" class="hover:underline transition">Github</a></li>
          <li><a href="#" class="hover:underline transition">Telegram</a></li>
          <li><a href="#" class="hover:underline transition">WhatsApp</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="py-4 text-center text-sm md:text-base text-gray-500/80">
    Copyright 2025 &copy;TypeCode Studio | Guanacaste. All Rights Reserved.
  </p>
</footer>
